<section class="section flex-center" id="footer">
  <h2 class="text-[20vw] overflow-hidden" id="fin">Fin</h2>
</section>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  import { getLetters, textAnimation } from "../utils";

  const fin = document.querySelector("#fin") as HTMLElement;
  /* Llama a la función getLetters que transforma separa las letras en <span/> */
  fin.innerHTML = getLetters(fin);

  const tween = gsap.to("#fin span", textAnimation());

  ScrollTrigger.create({
    trigger: "#footer",
    start: "-40%",
    animation: tween,
    /*  markers: true, */
  });
</script>
