---
type ScrollSectionSlideProps = {
  title: string;
  bgColor: string;
};
const { title, bgColor } = Astro.props as ScrollSectionSlideProps;
---

<div class={`w-screen ${bgColor} flex-center flex-shrink-0 h-full`}>
  <h2 class='text-[15vw] overflow-hidden'>{title}</h2>
</div>
