---
import ScrollSectionSlide from "./ScrollSectionSlide.astro";

const slides = [
  { title: "gsap", bgColor: "bg-slate-200" },
  { title: "scrolltrigger", bgColor: "bg-green-300" },
  { title: "es lo más", bgColor: "bg-red-400" },
];
---

<section class="section w-full overflow-x-hidden" id="scroll-section">
  <div class="w-[300%] flex flex-nowrap h-full" id="slider">
    {slides.map((slide) => <ScrollSectionSlide {...slide} />)}
  </div>
</section>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  import { getLetters, textAnimation } from "../utils";
  const slider = document.querySelector("#slider");
  const sliderTitles = [...document.querySelectorAll(".title-scroll")];

  const scrollAmount = () => -(slider.scrollWidth - window.innerWidth);

  const tween = gsap.to(slider, {
    x: scrollAmount,
    ease: "none",
  });

  ScrollTrigger.create({
    trigger: "#scroll-section",
    start: "top top",
    end: () => `+=${Math.abs(scrollAmount())}`,
    pin: true,
    animation: tween,
    scrub: 1,
    invalidateOnRefresh: true,
    /* markers:true */ /* Activa los marcadores si necesitás referencia */
  });

  /* Separa los titulos de los sliders en letras sueltas */
  sliderTitles.forEach((title: HTMLElement, i: number) => {
    title.innerHTML = getLetters(title);
    gsap.to(title.children, {
      ...textAnimation(),
      scrollTrigger: {
        trigger: !i ? title.parentElement : title,
        start: !i ? "-10%" : "left 60%",
        containerAnimation: !i ? undefined : tween,
      },
    });
  });
</script>
